*{
margin: 0 auto;
padding: 0;
}


.menu-head {
	position:relative;
	width:100%;
	height:40px;
	background:#737373;

}
.menu-head ul{
	list-style:none;
	
}


.menu-head ul li a{
	padding-top: 10px;
	color:#333333;
	display:block;
	float:left;
	text-decoration:none; 
		cursor:pointer;
}

#menu-head{
	border-right:1px solid #a6a6a6;
	height:30px;
	width:32.4%;
	text-align:center;
	font-size:13px;
	
	background: linear-gradient(#d9d9d9, #a6a6a6);
	font-family: 'PT Sans', sans-serif;
	
}

#menu-head:hover {
	background: linear-gradient(#d9d9d9, #bfbfbf);
	color:#333333;
}


/**=================================================================================*/


.menu-subhead {
	position:relative;
	width:100%;
	height:40px;
}

.menu-subhead ul{
	list-style:none;
	
	
}

.menu-subhead ul li a{
	margin-top:2.5px;
	color: white; 
	display:block;
	float:left;
	border-right:1px solid #bfbfbf;
	text-decoration:none; 
	cursor:pointer;
}

#menu-subhead{
	height:25px;
	min-width:auto;
	border-radius: 3px;
	padding:10px 10px 0px 10px;
	text-align:center;
	font-size: 12px;
	background: linear-gradient(#999999, #808080);
	font-family: 'PT Sans', sans-serif;
	
}

#menu-subhead:hover {
	background: linear-gradient(#999999, #8c8c8c);
	color:white;
}


/**=========================================================================*/

.breadcrumb {
	position:relative;
	width:98%;
	height:20px;
	background:#737373;
}

ul.breadcrumb {
	padding-top: 10px;
	padding-bottom:9px;
	padding-left:2%;
	list-style: none;
    font-size: 13px;
}
ul.breadcrumb li {
	display: inline;
	color:white;
	font-size:12px;
	font-family: 'PT Sans', sans-serif;
	}
ul.breadcrumb li+li:before {
    padding: 5px;
    color: white;
    content: ">>";
}
ul.breadcrumb li a {
	font-size:12px;
	font-family: 'PT Sans', sans-serif;
	color: white;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: white;
    text-decoration: underline;
}

/**=========================================================================*/

.content {
	padding:0 20px 0 60px;
	padding-top: 1%;
}

table{
	width: 100%;
	text-align: center;
}

textarea {
	background-color: transparent;
    border: none;
    width: 100%;
	text-align: center;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

.fa-file{
	float:left;
	margin-right: 10px;
}
.listfileupload2{
	min-height: 70px;
	
}
.listfileupload2:hover{
	color: #d0451b; 
}
.formatFileLbl {
	font-size:13px;
	color: red;
}

table.display tbody tr:nth-child(even):hover td{
    background-color: lightblue !important;
}

table.display tbody tr:nth-child(odd):hover td {
    background-color: lightblue !important;
}

.edit_ckeditor {
	/* float: left; */
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	-webkit-box-shadow: 1px 1px 3px #666666;
	-moz-box-shadow: 1px 1px 3px #666666;
	box-shadow: 1px 1px 3px #666666;
	color: #000000;
	font-size: 20px;
	background: #ffffff;
	padding: 10px 20px 10px 20px;
	border: solid #2B579A 1px;
	text-decoration: none;
	font-family: Georgia;
	margin-bottom: 5px;
	cursor:pointer;
}

.edit_ckeditor:hover {
	background: lightblue;
	text-decoration: none;
}

.save_ckeditor {
	/* float: left; */
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	-webkit-box-shadow: 1px 1px 3px #666666;
	-moz-box-shadow: 1px 1px 3px #666666;
	box-shadow: 1px 1px 3px #666666;
	color: #000000;
	font-size: 20px;
	background: #ffffff;
	padding: 10px 20px 10px 20px;
	border: solid #2B579A 1px;
	text-decoration: none;
	font-family: Georgia;
	margin-bottom: 5px;
	cursor:pointer;
}

.save_ckeditor:hover {
	background: lightblue;
	text-decoration: none;
}


.riwayat_btn {
    background:none!important;
     border:none; 
     padding:0!important;
    
    /*optional*/
    font-family:arial,sans-serif; /*input has OS specific font-family*/
     color:#069;
     cursor:pointer;
}

input[type=file], input[type=submit]{
	cursor: pointer
}

.btnUpload-filependukung{
	padding: 2px;
	display: none;
}
.custom-btnUpload-filependukung{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
	margin-bottom: 10px;
}
.custom-btnUpload-filependukung:hover {
	color: white;
    background-color: #d0451b;
}
.browseFilePendukung{
	width: 30%;
}

.uploadFilePendukung{
	margin-bottom: 10px;
}

.maksUploadFilePendukung{
	font-size: 14px;
    color: red;
}

div.teks-listfileupload{
	padding: 10px 10px 10px 18px;
	border: 1px solid #73a2e0;
    background-color: #73a2e0;
}

div.listfileupload{
	padding: 10px 10px 10px 10px;
	padding-bottom: 10px;
	border: 1px solid #73a2e0;
	margin-bottom: 5px;
}

.messageSukses{
	padding: 10px 20px 10px 60px;
	/* width: 100%; */
}

.btn-messageSukses{
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	border: solid #d94343 2px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: Arial;
	color: #000000;
	font-size: 15px;
	background-color: rgba(0,0,0,0);
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	cursor: pointer;
}

.btn-messageSukses:hover {
  background: #d94343;
  text-decoration: none;
}