.content {
	padding:0 20px 0 60px;
	padding-top: 1%;
}

table{
	width: 100%;
	text-align: center;
}

textarea {
	background-color: transparent;
    border: none;
    width: 100%;
	text-align: center;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

.formatFileLbl {
	font-size:13px;
	color: red;
}

table.display tbody tr:nth-child(even):hover td{
    background-color: lightblue !important;
}

table.display tbody tr:nth-child(odd):hover td {
    background-color: lightblue !important;
}