*{
margin: 0 auto;
padding: 0;
}


.dosen-header{
	height:38.5px;
}

.dosen-header h2{
	padding-top:7px;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
}

.dosen {
	position:relative;
	width:94.3%;
	margin-left:3%;
	margin-bottom:3%;
}

.data-dosen{
	position:relative;
	width:98%;
	margin-bottom:2%;
	margin-left:1%;
	min-height:600px;
}

.display{
		padding-top:2%;
	padding-bottom:1%;
	text-align:center;
}

.head-dosen {
	background:#333333;
	color:white;
	font-size:12px;
}

.body-dosen{
	font-size:10px;
}


/**=================================Penelitian Dosen==================================*/

.body-peldosen {
	font-size:11px;
}

.head-peldosen {
	background:#333333;
	color:white;
	font-size:12px;
}



table {
    counter-reset: rowNumber;
}

table tr {
    counter-increment: rowNumber;
}

.number:first-child::before {
    content: counter(rowNumber);
}

.upload-btn{
	position:relative;
	height:30px;
	width:15%;
	left:4%;
}

/**=================================Kerjasama==================================*/
.kerjasama_layout {
		position:relative;
	width:98%;
	margin-bottom:3%;
}

.head-panel {

	text-align: center;
}

.data-kerjasama {
	position:relative;
	width:98%;
	margin-bottom:1%;
	margin-left:1%;
}
.lots {
    width:70px;
    overflow:hidden; /* Limits amount of text being displayed */
    margin:0 auto;
	color:blue;
	font-size:9px;
}

.desk_kerjasama_cont {
	position:relative;
	width:99%;
	min-height:100px;;
}

.data_kerjasama {
	position:relative;
}


.delete{
	position:relative;
	width:98%;
	height:30px;
}

.btn-delete-all{
	position:absolute;
	height:30px;
	width:13%;
	right:0;
}

.btn-delete-list{
	position:absolute;
	height:30px;
	width:13%;
	right:14%;
}

.panel-input {
	width: 70%;
}

.data-input-kerjasama{
	height:30px;
	width: 70%;
	font-size: 14px;
	border-radius:2px;
    background: #cccccc;
	border:none;
	margin:7px;
	padding-left:10px;
	font-family: 'PT Sans', sans-serif;
}

.data-diri-input{

	font-size: 10px;
	border-radius:2px;
	border:none;
	padding-left:5px;
	font-family: 'PT Sans', sans-serif;
}

.data-radio-label{
	font-family: 'PT Sans', sans-serif;
	float: left;
	width: 40%;
	font-size: 13px;
}
.data-radio-kerjasama {
	margin-left:35%;
	position:relative;
	float:left;
}


.label{
	margin:0px;
		text-align:left;
}

.td-label {
	width:32.5%;
}

.display {
	width:70%;
}

#label1 {
	height:60px;
}


.ukuran{
	padding-left:10px;
	color:red;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
}

td p{
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color:#333333;
}

.data-input-kerjasama:focus{
	 outline-color: green;

}

.btn {
	position:relative;
	width:20%;
	margin-top:10px;
	margin-bottom:5px;
	background: linear-gradient(to right, #333333, #4d4d4d);
	cursor: pointer;
	color:white;
	border:none;
	border-bottom: 3px solid #262626;
	height:35px;
	border-radius:5px;
	outline:none;
	display:block;

}

.btn[disabled] {
    background-color: black;
		color:gray;
}


.btn:focus {
	background: linear-gradient(to right, #4d4d4d,#333333);
	border-bottom: none;
}

.tombol-kelola {
	width: 20px;
	height: 20px;
}


/*  ==================publikasi=============== */



/* ============= Abdimas ===================== */
