@import url('https://fonts.googleapis.com/css?family=Squada+One|Metrophobic|Scope+One|PT+Sans');
/*
@font-face {
    font-family: "Squada One";
    src: url("../fonts/SquadaOne-Regular.ttf");
}
*/
 
footer h4{
 		color:black;
		font-size:14px;
		padding-top:20px;
		font-family: 'PT Sans', sans-serif;
 }
 