/*@import url('https://fonts.googleapis.com/css?family=Squada+One|Metrophobic|Scope+One|Roboto');*/
@font-face {
    font-family: "Squada One";
    src: url("../fonts/SquadaOne-Regular.ttf");
}

*{
/*margin: 0 auto;*/
padding: 0;
font-family: Helvetica, Arial, sans-serif;
}

.header h1 a{
	font-family: 'Squada One', cursive;
	color:#d9d9d9;
	position:relative;
	text-decoration:none;
	float:left;
	top: 5px;
	margin-left:30px;
}

.header h1 a:hover{
	color:#e6e6e6;
	
}

.profile {
	position:relative;
	float:right;
	margin-right:30px;
	margin-top:5px;
}

.profile-back{
	min-height:40px;
	border-radius:5px;
	min-width: 100px;
	background-color:#262626;
	color:white;
}

.name-profile{
	position:relative;
	float:left;	
	margin:11px;
	
	font-size:14px;
	font-family: 'Arial', sans-serif;
}

.name-profile p{
	color:white;
}

.image-profile{
	position:relative;
	float:right;
	cursor:pointer;
	margin-right:5px;
	padding-top:3px;

}

.image-profile img{
	border-radius:50%;
}

#header-arrow{
	position:relative;
	top:-10px;
}


#header-arrow {
	font-size:20px;
}

.setting {
	position: absolute;
	top:50px;
	right:2px;
	min-width:180px;
	min-height:100px;
	background:  #333333;
	border-radius:5px;
	box-shadow:0px 2px 2px #bfbfbf;
	display : none;
}

#triangle-up {
	width: 0px;
	height: 0px;
	  border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid  #333333;
	position:relative;
	z-index: 6;
	top:-7px;
	right:-55px;
	
}


.setting-account {
	position:relative;
	text-align:center;
	text-decoration:none;

}

.setting-account p a:focus {
	color:red;
}


.setting-account p a{
	text-decoration:none;
	position:relative;
	color:white;
	font-size:13px;
	font-family: 'Arial', sans-serif;

}

.setting-account p{
	text-decoration:none;
	position:relative;
	top: 9px;
	height:35px;
	bottom:3px;
	
}

 hr{
	position:relative;
	top: 3px;
	color: #cccccc;
}

.setting-account:hover{
	background: #262626;
}

.logout-button {
	position:relative;
	margin:10px;
	margin-left:17px;
	width:80%;
	background: linear-gradient(to right, #1a1a1a, #4d4d4d);
	color:white;
	cursor: pointer;
	border:none;
	border-bottom: 3px solid #262626;
	height:35px;
	border-radius:5px;
	outline:none;
	
}

.logout-button:focus {
	background: linear-gradient(to right, #4d4d4d,#1a1a1a);
	border-bottom: none;
}
