@import url('https://fonts.googleapis.com/css?family=Squada+One|Metrophobic|Scope+One|PT+Sans');

*{
margin: 0 auto;
padding: 0;
font-family: Helvetica, Arial, sans-serif;
}

body {
background: #d9d9d9;
}

.header{
	position:relative;
	top:0;
	height:50px;
	box-shadow:0px 2px 10px #bfbfbf;
}

.header h1 a{
	font-family: 'Squada One', cursive;
	color:#333333;
	position:relative;
	text-decoration:none;
	float:left;
	top: 5px;
	margin-left:30px;
}

.wrapper{
	margin: 0 auto;
	padding: 0;
}

.login-page  {
	margin: 0 auto;
	position:relative;
	top:100px;
	height:350px;
	width:400px;
	background: #999999;
	border-radius:3px;
	box-shadow:0px 2px 2px #bfbfbf;
}

.login-page h4{
	text-align:center;
	position:relative;
	font-size:14px;
	cursor:pointer;
	color:blue;
	font-weight: normal;
	top:50px;
}

.login-page h4:hover{
	color:red;
}


.login-form h3 {
	text-align:center;
	position:relative;
	color:#666666;
	top:40px;
	font: bold 22px Helvetica, Arial, sans-serif;
}

.login-input, .login-button {
	position:relative;
	top: 60px;
	border-radius:3px;
	height:45px;
	font-size:16px;
	display: block;
	width:75%;
	text-decoration:none;
	outline:none;

}

.login-input {
	border:none;
}


.login-input{
	background: #333333 url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat;
	padding: 1.5px 0px 0px 40px;
	color:#d9d9d9;
}



input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes autofill {
    to {
        color: #d9d9d9;
		background: #4d4d4d url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat;
		padding: 1.5px 0px 0px 40px;
		background-position: 8px 12px;
    }
}

.login-button {
	width:85%;
	background: linear-gradient(to right, #333333, #4d4d4d);
	color:white;
	cursor: pointer;
	border:none;
	border-bottom: 3px solid #262626;
}

.login-button:focus {
	background: linear-gradient(to right, #4d4d4d,#333333);
	border-bottom: none;
}

#login-username { background-position: 8px 12px !important }
#login-password { background-position: 8px -50px !important }


#acnt-problem {
	display:none;
}

#problem {
	margin: 0 130px 0 130px;
	
}


#problem:hover #acnt-problem {
     display: block;  
}

#triangle-up {
	width: 0px;
	height: 0px;
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	border-left: 15px solid #999999;
	position:relative;
	z-index: 6;
	top:32px;
	left:-65px;
	opacity:0.8;
}

.acnt-problem {
	min-height: 50px;
	position:absolute;
	width: 350px;
	font-size:14px;
	border-radius:5px;
	color: #d9d9d9;
	background-color: #999999;
	left:-260px;
	bottom:50px;
	z-index: 5;
	box-shadow:-5px 10px 10px #333333;
	padding: 5px 20px 50px 20px;
	opacity:1;
}

.acnt-problem  p{
	position:relative;
	top:10px;
	color: #d9d9d9;
	text-align:justify;
	
}

.reset-input, .reset-button, .reset-email{
	position:relative;
	border-radius:3px;
	top: 30px;
	height:40px;
	font-size:16px;
	display: block;
	width:85%;
	text-decoration:none;
	border:none;
}

.reset-button {
	position:relative;
	width:95%;
	background: linear-gradient(top, #f6f5f0, #e1e0dc);
	color:white;
	cursor: pointer;
}

.reset-input{
	background: #333333 url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat;
	padding: 1.5px 0px 0px 35px;
	color:#d9d9d9;
}

.reset-email{
	background: #333333 url(../images/emailicon.png) no-repeat;
	padding: 1.5px 0px 0px 35px;
	color:#d9d9d9;
}

#old-password { background-position: 5px -52px !important }
#new-password { background-position: 5px -52px !important }
#email { background-position: 5px 8px !important }


footer{
		position:absolute;
		bottom:0;
	 	text-align:center;
		background:#d9d9d9;
		width:100%;
		z-index:10;
 }
 
 footer h4{
 		color:#333333;
		font-size:14px;
		font-family: 'PT Sans', sans-serif;
 }
 
.messageSukses{
	padding: 10px 0 10px 0;
	display: table;
	margin: 0 auto;
}

.btn-messageSukses{
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	border: solid #d94343 2px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: Arial;
	color: #000000;
	font-size: 15px;
	background-color: rgba(0,0,0,0);
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.btn-messageSukses:hover {
  background: #d94343;
  text-decoration: none;
}