/*@import url('https://fonts.googleapis.com/css?family=Squada+One|Metrophobic|Scope+One|PT+Sans');*/

@font-face {
    font-family: "Squada One";
    src: url("../fonts/SquadaOne-Regular.ttf");
}

*{
margin: 0 auto;
padding: 0;
font-family: Helvetica, Arial, sans-serif;
}

html {
   height: 100%;
   box-sizing: border-box;
}

body {
   height: 100%;
   background: #737373;
}


.header{
	position:fixed;
	top:0;
	float:center;
	width:100%;
	z-index:20;
	height:50px;
	background:  #333333;
	box-shadow:0px 2px 2px #4d4d4d;
}

.sub-header{
	height:38.5px;
	box-shadow:0px 2px 2px #bfbfbf;
}

.sub-header h2{
	padding-left:60px;
	padding-top:7px;
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
}

.sidebar {
	position:relative;
	float:left;
	margin-top:51px;
	min-width:255px;
	min-height:100%;
}

.main-layout {
	position:relative;
	float:right;
	margin-top:52px;
	padding-bottom:18px;
	width:81%;
	min-height:100%;
	background: #d9d9d9;
	border-left: 1px solid #bfbfbf;
	border-radius:3px;

}


.footer {
		font-family: 'Archivo Narrow', sans-serif;
		font-size:16px;
		clear: both;
		position: relative;
	 	height: 51px; 
	 	text-align:center;
	 	color:black;
		width:100%;
	
}