*{
margin: 0 auto;
padding: 0;
font-family: Helvetica, Arial, sans-serif;
}

.std711{

}

.display, .display2 {
  position: center;
  font-size: 12px;
}

.display1, .display, .display2 {
  border: 1px solid black;
}

.display1 {
  border-collapse: collapse;
}

.display2 {
  text-align: center;
}
