*{
margin: 0 auto;
padding: 0;
}


.menu-head {
	position:relative;
	width:100%;
	height:40px;
	background:#737373;

}
.menu-head ul{
	list-style:none;
	
}


.menu-head ul li a{
	padding-top: 10px;
	color:#333333;
	display:block;
	float:left;
	text-decoration:none; 
		cursor:pointer;
}

#menu-head{
	border-right:1px solid #a6a6a6;
	height:30px;
	width:32.3%;
	text-align:center;
	font-size:13px;
	
	background: linear-gradient(#d9d9d9, #a6a6a6);
	font-family: 'PT Sans', sans-serif;
	
}

#menu-head:hover {
	background: linear-gradient(#d9d9d9, #bfbfbf);
	color:#333333;
}


/**=================================================================================*/


.menu-subhead {
	position:relative;
	width:100%;
	height:40px;
}

.menu-subhead ul{
	list-style:none;
	
	
}

.menu-subhead ul li a{
	margin-top:2.5px;
	color: white; 
	display:block;
	float:left;
	border-right:1px solid #bfbfbf;
	text-decoration:none; 
	cursor:pointer;
}

#menu-subhead{
	height:25px;
	width:13%;
	border-radius: 3px;
	padding:10px 3px 0px 3px;
	text-align:center;
	font-size: 12px;
	background: linear-gradient(#999999, #808080);
	font-family: 'PT Sans', sans-serif;
	
}

#menu-subhead:hover {
	background: linear-gradient(#999999, #8c8c8c);
	color:white;
}


/**=========================================================================*/

.breadcrumb {
	position:relative;
	width:98%;
	height:20px;
	background:#737373;
}

ul.breadcrumb {
	padding-top: 10px;
	padding-bottom:9px;
	padding-left:2%;
	list-style: none;
    font-size: 13px;
}
ul.breadcrumb li {
	display: inline;
	color:white;
	font-size:12px;
	font-family: 'PT Sans', sans-serif;
	}
ul.breadcrumb li+li:before {
    padding: 5px;
    color: white;
    content: ">>";
}
ul.breadcrumb li a {
	font-size:12px;
	font-family: 'PT Sans', sans-serif;
	color: white;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: white;
    text-decoration: underline;
}

