@import url('https://fonts.googleapis.com/css?family=Squada+One|Metrophobic|Scope+One|Roboto|PT+Sans');

html, body {

   margin:0;
   padding:0;
   height:100%;

}



.main-content{
	position: relative;
	width:100%;
	min-height: 297px;

}

.data-tim {
	position:relative;
	float:left;
	width:55%;
	min-height:400px;
	margin:25px;
	margin-left:60px;
}


.data-tim h3 {
text-align:center;
	position:relative;
	margin-bottom:30px;
	color:#333333;
	font: bold 22px Helvetica, Arial, sans-serif;
}

.data-diri-input{
	height:30px;
	width: 70%;
	font-size: 14px;
	border-radius:2px;
	border:none;
	margin:7px;
	padding-left:10px;
	font-family: 'PT Sans', sans-serif;
}

#data-diri-alamat{
	height:60px;
}
#data-diri-foto {
	padding-left:0px;
	border:none;

}

#data-diri-jenis-kelamin{
	height:15px;
	padding-left:0px;
	width: 5%;
	border-radius:0px;
	
}

#data-diri-tugas {
	height:60px;
}

#data-diri-hakakses{
	
}

label{
	font-size: 14px;
	font-family: 'PT Sans', sans-serif;
}

#data-diri-foto:focus {
	outline:none;
}

.label{
	margin:0px;
}

.td-label {
	width:32.5%;
}

.ukuran{
	padding-left:10px;
	color:red;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
}

td p{
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color:#333333;
}

.data-diri-input:focus{
	 outline-color: green;
}


.ubah-password{
	float:right;
	width:35%;
		margin:10px;
	margin-top:25px;
}

.ubah-password h3 {
text-align:center;
	position:relative;
	margin-bottom:30px;
	color:#333333;
	font: bold 22px Helvetica, Arial, sans-serif;
}




.btn {
	position:relative;
	width:20%;
	margin-top:10px;
	margin-bottom:5px;
	background: linear-gradient(to right, #333333, #4d4d4d);
	color:white;
	cursor: pointer;
	border:none;
	border-bottom: 3px solid #262626;
	height:35px;
	border-radius:5px;
	outline:none;
	display:block;
	
}

.ubah-password-button{
	width:35%;
}

.confirmMessage {
	font-size: 10pt;
	margin: 7px 7px 7px 7px;
}

.cekpasswordmsg{
	font-size: 10pt;
	margin: 7px 7px 7px 7px;
}

.btn:focus {
	background: linear-gradient(to right, #4d4d4d,#333333);
	border-bottom: none;
}

.messageSukses{
	padding: 10px 0 10px 0;
	display: table;
	margin: 0 auto;
}

.btn-messageSukses{
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	border: solid #d94343 2px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: Arial;
	color: #000000;
	font-size: 15px;
	background-color: rgba(0,0,0,0);
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.btn-messageSukses:hover {
  background: #d94343;
  text-decoration: none;
}

/**=====================================Css Form Tim Akreditasi===================================*/


.tambahtim{
	min-height: 800px;
}
.form-data-tim{
	position:relative;
	min-height:400px;
	margin:25px;
	margin-left:60px;
}

.form-data-tim h3{
	text-align:center;
	position:relative;
	margin-bottom:30px;
	color:#333333;
	font: bold 22px Helvetica, Arial, sans-serif;
}

.data-tim-akreditasi h3 {
text-align:center;
	position:relative;
	color:#333333;
	font: bold 22px Helvetica, Arial, sans-serif;
}
.label-form {
	width:30%;
	padding-left:10%;
}

.data-tim-input{
	height:30px;
	width: 50%;
	font-size: 14px;
	border-radius:2px;
	border:none;
	margin:7px;
	padding-left:10px;
	font-family: 'PT Sans', sans-serif;
}

.data-tim-akreditasi{
	margin:25px;
}

table tr td {
	font-size:14px;
}

.btnn{
	background:none;
	margin-left:30%;
	text-decoration:none;
	border-radius:5px;
	text-align:center;
	cursor:pointer;
	outline:none;
}