@font-face {
    font-family: "Squada One";
    src: url("../fonts/SquadaOne-Regular.ttf");
}


*{
/*margin: 0 auto;*/
padding: 0;
}


.menu ul {
	list-style:none;
}

.menu ul li a {
	display:block; 
	padding-left: 39px;
	padding-top: 10px;
	color: white; 
	font-size: 12px;
	text-decoration:none; 
	border-bottom:1px solid #bfbfbf;
		cursor:pointer;
     }

#menu-link {
	height:30px;
	width:85%;
	font-size:12px;
	background-color:#4d4d4d;
	font-family: 'PT Sans', sans-serif;
	
}

#menu-link:hover {
	background-color:#333333;
	color:white;
}

#arrow {
	font-size:14px;
	padding-left:129px;
}

#arroww {
	font-size:14px;
	padding-left:126px;
}

#arrow1 {
	font-size:14px;
	padding-right:15px;
}

#arrow2 {
	font-size:14px;
	padding-left:146px;
}

