.poin{
	padding: 10px 10px 10px 20px;
	
}
.HasilSimulasi{
	padding: 10px 10px 10px 20px;
	
}

.messageSukses.messageSukses-header{
	padding: 10px 10px 10px 18px;
	border: 1px solid #f44242;
    background-color: #f44242;
	color: white;
	cursor: pointer;
}

.messageSukses.messageSukses-content{
	padding: 10px 10px 10px 18px;
	padding-bottom: 10px;
	border: 1px solid #f44242;
	margin-bottom: 5px;
	cursor: pointer;
}

a:link{
	text-decoration: none;
	color: black;
}

a:visited {
    text-decoration: none;
	color: black;
}

a:hover {
    text-decoration: none;
	color: #d0451b;
	/*font-size:105%;*/
}

a:active {
    text-decoration: none;
	color: red;
}

table{
	table-layout: fixed;
	word-wrap:break-word; 
	width: 100%;
	text-align: center;
	font-size: 14px;
}

h3{
	padding-bottom: 10px;
}

ul{
	list-style: none inside;
}

ul.nested-ul{
	padding-left:14px;
}
 /* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #73a2e0;
    background-color: #ece67f;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: lightblue;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #73a2e0;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 12px 12px;
    border: 1px solid #73a2e0;
    border-top: none;
	background-color: white;
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.topright {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.topright:hover {
	color: red;
}


@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}