ul, ol{
	list-style-position: inside;
}

hr.penilaian-bagi{
	width: 189px;
	margin-left: 0;
	position: unset;
	top: unset;
	color: unset;
}

input[type='radio']{
	cursor: pointer;
}

table{
	table-layout: fixed;
	word-wrap:break-word; 
	width: 100%;
	text-align: center;
}

label{
	padding-right: 20px;
	display: inline;
    position: relative;
}

label[title]:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

label[title]:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}



.main-content{
	padding: 10px 10px 10px 30px;
}

div.elemen-penilaian{
	padding: 10px 10px 10px 18px;
	border: 1px solid #73a2e0;
    background-color: #73a2e0;
}

div.info-penilaian{
	padding: 10px 10px 10px 18px;
	border: 1px solid #73a2e0;
    background-color: #73a2e0;
}

div.deskripsi-elemen-penilaian{
	padding: 10px 10px 10px 10px;
	padding-bottom: 10px;
	border: 1px solid #73a2e0;
	margin-bottom: 5px;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    /*color: #444;*/
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
	font-size: 17px;
    outline: none;
    transition: 0.4s;
	border: 1px solid #73a2e0;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active{
	background-color: #73a2e0;
}

button.accordion:hover {
    background-color: lightblue;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}


/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
	border: 1px solid #73a2e0;
	max-height: 0;
    overflow: hidden;	
    transition: max-height 0.2s ease-out;
	margin-bottom: 5px;
}

.panel-content {
	padding: 18px 0 18px 0;
}

.tablinks {
	/*float: right;*/
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
    cursor: pointer;
	margin-left: 108px;
	margin-top: 10px;
}

.tablinks:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}

.tablinks:active{
	position:relative;
	top:1px;
}

.tabcontent {
    display: none;
    padding: 12px 12px;
    border: 1px solid #73a2e0;
    border-top: none;
	/*background-color: white;*/
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
	width: -moz-available;
}

/*div.input-penilaian{
	height: 50px;
}*/

p.teks-penilaian{
	width: 100px;
	float: left;
}

p.teks-penilaian.inputskor{
	width: 260px;
	float: left;
	margin-top: 7px;
}

p span.required{
	color: red;
}

.message.message-header{
	padding: 10px 10px 10px 18px;
	border: 1px solid #f44242;
    background-color: #f44242;
	color: white;
	cursor: pointer;
}

.message.message-content{
	padding: 10px 10px 10px 18px;
	padding-bottom: 10px;
	border: 1px solid #f44242;
	margin-bottom: 5px;
	cursor: pointer;
}
