@import url('https://fonts.googleapis.com/css?family=Squada+One|Metrophobic|Scope+One|Roboto|PT+Sans');

html, body {
   margin:0;
   padding:0;
   height:100%;

}



.main-content{
	position: relative;
	width:100%;
	margin-right:30px;
	min-height: 297px;
}


.view-data-uploaded{
	padding-bottom: 2%;
	padding-left: 2%;
	padding-right: 30px;
	padding-top:2%;
}

.view-data-uploaded h3{
	padding-bottom: 1%;
	padding-top:1%;
	text-align:center;
}

.display {
 padding-top: 2%;
 padding-bottom: 2%; 
}


.thead {
	background:#333333;
	color:white;
	font-size:16px;
	font-family: 'PT Sans', sans-serif;
	
}

.thead th{
	width:200px;
}


.tbody{
	font-size:25px;
	font-family: 'PT Sans', sans-serif;
}

.letak-input{
	
	height:25px;
	width:99%;
}

#input-softcopy {
	margin-left:70px;
	margin-top:5px;
	width:25px;
	height:25px;
	
}

#input-hardcopy {
	margin-left:70px;
	margin-top:5px;
	width:25px;
	height:25px;
	
}

.btn-plus{
	height:30px;
	width:30px;
	background:none;
	text-decoration:none;
	border:3px solid #333333;
	font-size:20px;
	text-align:center;
	cursor:pointer;
	border-radius:50%;
	outline:none;
	
}


.plus {
	text-align:center;
	padding:5px;
}

.btn-plus:focus {
   color:red;
   text-decoration:none;
   border:3px solid red;
}

.btn-plus:hover {
   color:#4d4d4d;
   text-decoration:none;
   border:3px solid #4d4d4d;
}
