@import url('https://fonts.googleapis.com/css?family=Squada+One|Metrophobic|Scope+One|Roboto|PT+Sans');

html, body {

   margin:0;
   padding:0;
   height:100%;

}



.main-content{
	position: relative;
	width:100%;
	min-height: 297px;

}

.tim-akreditasi{
	position:relative;
	width:98%;
	margin-top:20px;
	
}

.tim-akreditasi h3 {
	text-align:center;
	position:relative;
	margin-bottom:30px;
	color:#333333;
	font: bold 22px Helvetica, Arial, sans-serif;
}

.display {
	padding-top:20px;
	padding-bottom:20px;
}

.table{
	font:14px Helvetica, Arial, sans-serif;
}

.head {
	background:#333333;
	color:white;
	
}

.head th{
	padding:5px;
}

.body td {
	padding:5px;
	background:white;

}

.body tr {
		border:1px solid gray;
}

.tugas {
	height:25px;
	border:none;
	outline:none;
	padding:5px;
}

.save{
	height:30px;
	width:30px;
	background:none;
	text-decoration:none;
	font-size:20px;
	border-radius:5px;
	text-align:center;
	cursor:pointer;
	outline:none;
	
}

.edit{
	height:30px;
	width:30px;
	background:none;
	text-decoration:none;
	font-size:20px;
	border-radius:5px;
	text-align:center;
	cursor:pointer;
	outline:none;
	
}

.btnn{
	height:20px;
	width:40px;
	background:none;
	text-decoration:none;
	border-radius:5px;
	text-align:center;
	cursor:pointer;
	outline:none;
}

