@import url('https://fonts.googleapis.com/css?family=Squada+One|Metrophobic|Scope+One|Roboto|PT+Sans');

html, body {
   margin:0;
   padding:0;
   height:100%;

}



.main-content{
	position: relative;
	width:100%;
	margin-right:30px;
	min-height: 297px;
}

.upload-form{
	padding-left:60px;
	padding-top:3%;
	
}




.logo-si {
	float: right;
	padding-top: 1%;
	padding-left: 5%;
	padding-right: 5%;
	
}

.logo-si-img{
	
	max-width: 190px;
	max-height: 190px;
}

.view-data-uploaded{
	padding-bottom: 3%;
	padding-left: 2%;
	padding-right: 30px;
	padding-top:3%;
}

.view-data-uploaded h3{
	padding-bottom: 2%;
	padding-top:2%;
	text-align:center;
}

.display {
 padding-top: 2%;
 padding-bottom: 2%; 
}


.thead {
	background:#333333;
	color:white;
	font-size:16px;
	font-family: 'PT Sans', sans-serif;
	
}

#input-deskripsi {
	width: 50%;
	padding: 5px 7px;
    margin: 8px 0;
    box-sizing: border-box;
	border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

#input-deskripsi:focus {
    border: 3px solid #555;
}


.huruf-upload-files{
	padding-bottom:1%;
}

/* dibawah ini untuk tombol browse file*/
#files {
	margin-left: 0.5%;
}
/* diatas ini untuk tombol browse file*/

#kebutuhan{
	padding: 3px 5px;
	margin-left: 2.2%;
	margin-bottom: 1%;
}